$sub-color: grey;
$main-color: black;
//sass variable that says wherever we call sub-color is going to substitute for that above

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}
//mixin is a reusable css ... because whererver it says @include it will include in the variable above,..to dont repeat the same thing and can be changed

.group {
  position: relative;
  margin: 45px 0;

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;

    &:focus {
      outline: none;
    }
    //focus is when the user selevt or browser is focus on the input

    &:focus ~ .form-input-label {//when is in focus we want to target form-input-label and incluse shrinklabel
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;//time of the transition to make the change

    &.shrink {
      @include shrinkLabel();
    }
  }
}
